.logo-container {
  width: 150px; /* Ancho deseado del logo */
  height: auto; /* Altura ajustada automáticamente para mantener la proporción de la imagen */
}

.logo-container img {
  max-width: 75%; /* La imagen no excederá el ancho del contenedor */
  height: auto; /* Altura ajustada automáticamente para mantener la proporción de la imagen */
}
@media only screen and (max-width: 768px) {
  .logo-container {
    width: 30%; /* Reducir el ancho del contenedor al 70% del tamaño original */
  }
}
body {
  font-family: " Monserrat", "sans-serif";
  overflow-x: hidden;
}

#menu a {
  font-size: 18px;
  font-weight: bold;
  color: 3f3f3f;
}

#menu button {
    font-size: 18px;
    font-weight: bold;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

input[type="text"], select, button {
    margin: 10px 0;
    padding: 8px;
    width: 100%;
}

button {
    background-color: #0b6617;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0b6617;
}

#result {
    margin-top: 20px;
}
